::ng-deep .mat-form-field-underline {
  display: none;
}
.input {
  //full width for all inputs
  width: 100%;
}
.mat-hint {
  font-size: 13px;
}
.saved {
  //saved mat card
  border-radius: 15px;
  border-style: initial;
  background-color: #d7aefb;
}
.note {
  //mat card
  margin: 10px 200px 10px 200px;
  padding: 10px 50px 20px 50px;
  background-color: #a7ffeb;
  border-radius: 15px;
  border-style: initial;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-icon {
  color: black;
}
.mat-success {
  background-color: #e8eaed;
}
